* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.body-wrap {
    position: relative;
    overflow: hidden;
}

.app-container {
    min-height: 100vh;
    width: 100%;
    padding-top: 65px;
    background: #ffffff;
    display: flex;
    position: relative;
}

/* navigation */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #2F4F4F;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    width: 100%;
    z-index: 2;
}

.logo-link {
    text-decoration: none;
}

.logo {
    color: #FFFAF0;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 54px;
    margin-top: 3px;
}

.logo h1 {
    font-size: 14px;
}

.logo-wrap {
    height: 58px;
    width: 58px;
    background: rgb(250,250,250);
    background: radial-gradient(circle, rgba(250,250,250,0.9904778317577031) 0%, rgba(255,255,255,0) 75%);
}

.nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 65px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    background-color: #2F4F4F;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 2;
    padding-bottom: 20vh;
}

.nav-links li {
    position: relative;
    list-style: none;
    opacity: 0;
    text-align: center;
}

.nav-links a {
    color: #FFFAF0;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.nav-links a,
.nav-links a:after,
.nav-links a:before {
    transition: all 0.5s;
    position: relative;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-links a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.nav-links a:hover:after {
    width: 100%;
}

.social-links {
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 5px;
    right: 0;
    bottom: -87vh;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 3;
    width: 70%;
}

.social-links a {
    padding-left: 6px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    filter: drop-shadow(1px 2px 2px #000000);
}

.social-links a:hover {
    filter: drop-shadow(0px 0px 0px #000000);
}

.sub-menu {
    padding-top: 15px;
    text-align: center;
    display: block;
}

.sub-menu li {
    color: white;
    opacity: 1;
}

.burger {
    display: block;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #FFFAF0;
    margin: 5px 5px 4px 5px;
    transition: all 0.3s ease;
}

.toggle .bar-1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .bar-2 {
    opacity: 0;
}

.toggle .bar-3 {
    transform: rotate(45deg) translate(-4px,-5px);
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (min-width: 522px) {
    .nav-links {
        width: 45%;
    }
    .social-links {
        width: 45%;
    }
}

@media (min-width: 768px) {
    .app-container {
        padding-top: 0;
        min-height: 92vh;
    }
    nav {
        position: relative;
        justify-content: space-around;
        padding: 0;
    }
    .logo h1 {
        font-size: 16px;
    }
    .nav-links {
        position: relative;
        right: unset;
        height: unset;
        top: unset;
        align-items: unset;
        display: flex;
        flex-direction: row;
        width: 50%;
        display: flex;
        justify-content: space-between;
        transform: translateX(0%);
        padding-bottom: 0;
        padding-left: 20px;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav-links li:hover > .sub-menu {
        display: block;
    }
    .drop-down:focus + .sub-menu {
        display: block;
    }
    .social-links {
        position: relative;
        padding-top: 5px;
        right: unset;
        bottom: unset;
        justify-content: unset;
        width: initial;
        transform: translateX(0%);
    }
    .social-links a {
        opacity: 1;
    }
    .burger {
        display: none;
    }
    .sub-menu {
        display: none;
        position: absolute;
        top: 0;
        left: -10px;
        background-color: #2F4F4F;
        width: auto;
        min-width: 255px;
        padding: 40px 10px 10px 10px;
        z-index: -1;
    }
    .sub-menu li {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .logo h1 {
        font-size: 18px;
    }
    .nav-links {
        padding-left: 0;
    }
}

@media (min-width: 1100px) {
    .nav-links {
        width: 30%;
    }
}

/* css box shadow visualisation */
.title-area {
    position: absolute;
    top: 65px;
    left: 40%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 220px;
}
.box-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-colour, #ffffff);
}
.sidebar {
    min-width: 130px;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: #0a1d1c;
    color: white;
}
.sidebar label {
    margin-top: 0.75rem;
    margin-bottom: 0.15rem;
    font-weight: bold;
}
.divider {
    margin: 1rem -1rem 0.4rem -1rem;
    border-bottom: 1px solid #999;
}
#box {
    width: calc(var(--width, 100) * 1px);
    height: calc(var(--height, 100) * 1px);
    border-radius: calc(var(--border-radius, 0) * 1px);
    margin: 25px;
    background-color: var(--box-colour, #ffd700);
    box-shadow:
        calc(var(--x-position, 3) * 1px)
        calc(var(--y-position, 3) * 1px)
        calc(var(--blur, 5) * 1px)
        calc(var(--spread, 6) * 1px)
        var(--shadow-colour, #000000)
        var(--inset, );
}

input:not([type="color"]) {
    padding: 0.25rem 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid transparent;
    outline: none;
}

input:not([type="color"]):focus {
    border-color: #0af;
}

input[type="color"] {
    width: 100%;
    border-radius: 0.3rem;
    background-color: white;
    border: none;
    cursor: pointer;
}
.css-output {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    min-height: 65px;
    width: 50%;
    min-width: 320px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 0.5px solid #000000;
    box-shadow: 0px 0px 15px 1px #999999 inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-shape {
    position: absolute;
    top: 70px;
    left: 0;
    height: auto;
    min-height: 100px;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0 0 5px 0;
    transform: translateX(-320px);
    transition: all 0.5s ease-in-out;
}
.box-shape label {
    margin-top: 0.75rem;
    margin-bottom: 0.15rem;
    font-weight: bold;
}
.box-shape.enabled {
    transform: translateX(0);
}
#box-tab {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: -40px;
    top:0;
    padding: 1rem 0;
    height: auto;
    width: 40px;
    background: #000000;
    color: #ffffff;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}
#box-tab:hover {
    background: #999999;
    color: #000000;
}
#box-tab:focus, #box-tab:active {
    border: none;
    outline: none;
}
.box-shape-output {
    display: none;
}
.box-shape-output.visible {
    display: block;
}
#result-inset {
    display: none;
}
#result-inset.visible {
    display: inline-block;
}
@media (max-width: 520px) {
    .title-area {
        font-size: 10px;
        max-width: 180px;
    }
    .css-output {
        min-width: 190px;
        bottom: 50px;
    }
    .sidebar label {
        font-size: 12px;
    }
}